:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FBF1EA;
  color: #CC2557;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  

}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Perpetua Titling MT", serif;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 2rem;
  /* text-align: center; */
}


/* Scrollbar */

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #FBF1EA;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #CC2557;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #FBF1EA;  /* creates padding around scroll thumb */
}



